
<button [routerLink]="'/addtype'">Add</button>

<div class="form-group">
    <input type="text" [(ngModel)]="searchName" placeholder="Search by name" class="form-control">
    <button type="button" class="btn btn-primary" (click)="search()">Search</button>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="filtered.length === 0">
            <td colspan="5">No items found.</td>
        </tr>
        <tr *ngFor="let employeetype of filtered">
          <td>{{ employeetype.employeeTypeName }}</td>
          <td>{{ employeetype.employeeTypeDescription }}</td>
          <td>
            <button style="margin-right: 1em;" [routerLink]="['/type', employeetype.employeeTypeId]" type="button" class="btn btn-sm btn-info">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="openDeleteModal(employeetype)">Delete</button>
          </td>
        </tr>
    </tbody>
</table>

<app-delete-confirmation-modal
  [itemName]="itemToDelete"
  (confirmDeleteEvent)="deleteConfirmed()"
></app-delete-confirmation-modal>
